<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.projeto.biblianvi.biblianvi">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />


    <application
        android:name="com.projeto.biblianvi.Aplicacao"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.NoActionBar"
        android:usesCleartextTraffic="true"

        >
        <activity android:name="com.projeto.biblianvi.ActivityPoliticaPrivacidade"></activity>
        <activity
            android:name="com.projeto.biblianvi.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleInstance"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:windowSoftInputMode="adjustNothing">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.projeto.biblianvi.Activity_favorito"
            android:label="@string/favorito" />
        <activity
            android:name="com.projeto.biblianvi.BibliaAberta"
            android:label="@string/app_name" />
        <activity
            android:name="com.projeto.biblianvi.Lista_Biblia"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name="com.projeto.biblianvi.NetworkActivityDevocional"
            android:label="@string/devocional" />
        <activity
            android:name="com.projeto.biblianvi.SettingsActivity"
            android:label="@string/configura_o">
            <intent-filter>
                <action android:name="android.intent.action.MANAGE_NETWORK_USAGE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.projeto.biblianvi.Sermoes"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_mensagem" />
        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:theme="@android:style/Theme.Translucent" />
        <activity android:name="com.projeto.biblianvi.Grafico_Um" />
        <activity android:name="com.projeto.biblianvi.Grafico_Dois" />
        <activity
            android:name="com.projeto.biblianvi.GraficoGeral"
            android:label="@string/app_name" /> <!-- This meta-data tag is required to use Google Play Services. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="com.projeto.biblianvi.Activity_busca_avancada"
            android:label="@string/busca_avancada_title"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="adjustResize" />

        <!--<service android:name=".ServiceNotification" /> -->

        <activity
            android:name="com.projeto.biblianvi.ActivityAnotacao"
            android:label="@string/title_activity_activity_anotacao"

            />
        <activity
            android:name="com.projeto.biblianvi.NotaAdicionar"
            android:label="@string/title_activity_nota_adicionar"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name="com.projeto.biblianvi.DicionarioActivity"
            android:label="@string/title_activity_dicionario"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name="com.projeto.biblianvi.ActivityBrowser"
            android:label="@string/title_activity_biblia_aberta" />

        <receiver
            android:name="com.projeto.biblianvi.VersiculoDiario"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name=".VersiculoDiario"></action>
            </intent-filter>
        </receiver>

        <receiver
            android:name="com.projeto.biblianvi.ReceiverReiniciarAlarm"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
                <action android:name="com.htc.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver>


        <activity
            android:name="com.projeto.biblianvi.MainActivityFragment"
            android:label="@string/livro_evangelho_epistola" />
        <activity
            android:name="com.projeto.biblianvi.DetailsActivity"
            android:label="Capitulos - Versiculos" />
        <activity
            android:name="com.projeto.biblianvi.MenuLateralTeste"
            android:label="Capitulos" />

        <meta-data
            android:name="com.google.android.gms.ads.AD_MANAGER_APP"
            android:value="true" />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.projeto.biblianvi.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>